<a href="https://colab.research.google.com/github/Brundavathi/Python-Files/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def my_func(x):
  print('Value is',x)

In [3]:
my_func(10)

Value is 10

In [4]:
def my_func(x):
  return x + 10

In [5]:
my_func(5)

15

In [6]:
def no_return():
  pass

In [7]:
print('Hello')

Hello

In [8]:
input('Enter Value')

Enter Value10

'10'

In [9]:
sum([10,20])

30

In [10]:
min([1,2,3,4])

1

In [11]:
max([1,2,3,4])

4

In [12]:
def my_addition(x,y):
  sum = x + y
  return sum

In [13]:
my_addition(1,22)

23

In [14]:
#Keyword Based Arguments

def keyword_func(k1,k2,k3):
  print("Value of k2 is", k2)

In [15]:
keyword_func(k1 = '11',k2 = '22',k3 = '33')

Value of k2 is 22

In [16]:
keyword_func(k2 = '22',k1 = '11',k3 = '33')

Value of k2 is 22

In [17]:
#Arbitrary Argument

def greet(*names):
  for name in names:
    print("Hello",name)

In [18]:
greet("Ram","Shardha","Shakshi","Varun")

Hello Ram
Hello Shardha
Hello Shakshi
Hello Varun

In [19]:
greet("Ram","Shardha")

Hello Ram
Hello Shardha

In [24]:
def greet(name,msg = "Good Morning!"):
  print("Hello",name,msg)

In [25]:
greet("Rohan")

Hello Rohan Good Morning!

In [26]:
greet("Rohan",msg = "Good Afternoon!")

Hello Rohan Good Afternoon!

In [29]:
#Function Recursion

def recur_fact(x):
  if x == 1:
    return 1
  else:
    return (x * recur_fact(x - 1))

In [30]:
num = int(input("Enter a number : "))
if num >= 1:
  print("The Factorial of", num, "is", recur_fact(num))

Enter a number : 4
The Factorial of 4 is 24

Lambda Functions

In [31]:
#Simple Multiplication Function

def multiply(x,y):
  return x * y

In [32]:
multiply(2,3)

6

In [33]:
#Lambda Function

mul = lambda x,y: x * y

In [34]:
mul(2,3)

6

In [36]:
#Program to filter out only even numbers from the list

new_list = filter(lambda x: x % 2 == 0,[1,2,3,4])

In [37]:
print(list(new_list))

[2, 4]

In [38]:
#Program to double each item in a list using a map

my_list = [1,2,3,4]
new_list = map(lambda x : x * 2, my_list)

In [39]:
print(list(new_list))

[2, 4, 6, 8]

In [40]:
import functools

In [41]:
lambda_reduce = functools.reduce(lambda x,y: x + y,my_list)
print(lambda_reduce)

10