<a href="https://colab.research.google.com/github/Brundavathi/Python-Files/blob/main/Python_Loops_and_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#While loop

i = 5
while i < 10:
  print(i)
  i = i + 1

5
6
7
8
9

In [ ]:
i = 1
while i <= 5:
  print(i + 5)
  i = i + 1

6
7
8
9
10

In [ ]:
#Break Statement

i = 1
while i <= 10:
  print(i + 4)
  if i == 4:
    break #stop the loop even if while condition is true
  i = i + 1

5
6
7
8

In [ ]:
# Continue Statement

i = 1
while i <= 10: 
  i = i + 1 
  if i == 5:
    continue #skip the current iteration and continue with next, i.e 5 doesn't get executed
  print(i)

2
3
4
6
7
8
9
10
11

In [ ]:
# Else Statement

i = 1
while i < 10:
  print(i)
  i = i + 1
else:  
  print("i is no longer less than 10")

1
2
3
4
5
6
7
8
9
i is no longer less than 10

In [ ]:
# For Loop

for i in [2,4,6]:
  print(i)

2
4
6

In [ ]:
for i in [1,2,3,4,5]:
  print(i + 5)

6
7
8
9
10

In [ ]:
for i in ('a','b','c'):
  print(i)

a
b
c

In [ ]:
for i in 'Hello':
  print(i)

H
e
l
l
o

In [ ]:
#Range Function

print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(1,10):
  print(i + 5)

6
7
8
9
10
11
12
13
14

In [ ]:
a = []
for i in range(1,10):
  a.append(i + 5)

In [ ]:
a

[6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
a[4]

10

In [ ]:
#key as well as value

for k,v  in enumerate(range(1,11)):
  print(k,'---',v+5)

0 --- 6
1 --- 7
2 --- 8
3 --- 9
4 --- 10
5 --- 11
6 --- 12
7 --- 13
8 --- 14
9 --- 15

In [ ]:
# Single line for loop

[ i + 5 for i in range(1,11)]

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
#Single line loop with condition

[i for i in range(1,11) if i > 5]

[6, 7, 8, 9, 10]

In [ ]:
#Nested Loops

num_list = [1,2,3]
alpha_list = ['a','b','c']

for i in num_list:
  print(i)
  for j in alpha_list:
    print(j)

1
a
b
c
2
a
b
c
3
a
b
c